<ion-header class= "topo">
  <ion-toolbar>
    <ion-title>Serviço 01</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpo">
  <ion-slides pager="true">
    
    <ion-slide>
      <img src="../../../assets/img/layoutApp/sobre.jpg" alt="Logo kibeleza">
    </ion-slide>

    <ion-slide>
        <img  src="../../../assets/img/slide2.jpg" alt="Logo kibeleza">
    </ion-slide>

    <ion-slide>
        <img src="../../../assets/img/slide3.jpg" alt="Logo kibeleza">
    </ion-slide>
  </ion-slides>

  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
    type specimen book.</p>

  <ion-row>
    <ion-col size="12">
      <h1>Solicitar</h1>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label>Cabeleireira</ion-label>
        <ion-select okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="Denise">Denise</ion-select-option>
          <ion-select-option value="Alice">Alice</ion-select-option>
          <ion-select-option value="Carol">Carol</ion-select-option>
          <ion-select-option value="Maria">Maria</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
    <ion-label>Data e hora</ion-label>
    <ion-datetime displayFormat="DD MMM HH:mm" min="2020" max="2020" ></ion-datetime>
    </ion-item>
    </ion-col>
    
  </ion-row>

    <ion-button class="btn btnFundo" href="/tabs/pg/reserva" expand="block" minuteValues="0,30" hourValues="07,08,09,10,11,14,15,16,17,18,19,20">Reservar</ion-button>

</ion-content>
