<ion-header class= "topo">
  <ion-toolbar>
    <ion-title>SOBRE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpo">

  <img class= "logo" src="../../../assets/img/logo-kibeleza.png" alt="Logo Kibeleza">

  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
    type specimen book.</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
    type specimen book.</p>

    <ion-slides pager="true">
    
      <ion-slide>
        <img src="../../../assets/img/layoutApp/sobre.jpg" alt="Logo kibeleza">
      </ion-slide>
  
      <ion-slide>
          <img  src="../../../assets/img/slide2.jpg" alt="Logo kibeleza">
      </ion-slide>
  
      <ion-slide>
          <img src="../../../assets/img/slide3.jpg" alt="Logo kibeleza">
      </ion-slide>
    </ion-slides>

    <ion-row class="iconSocial">
      <ion-col size="3">
          <a href="#" target="_black"></a>
          <img class="logo" src="../../../assets/img/face.png" alt="Logo kibeleza">
      </ion-col>
      <ion-col size="3">
          <a href="#" target="_black"></a>
          <img class="logo" src="../../../assets/img/insta.png" alt="Logo kibeleza">
      </ion-col>
      <ion-col size="3">
          <a href="#" target="_black"></a>
          <img class="logo" src="../../../assets/img/twitter.png" alt="Logo kibeleza">
      </ion-col>
      <ion-col size="3">
          <a href="#" target="_black"></a>
          <img class="logo" src="../../../assets/img/whats.png" alt="Logo kibeleza">
      </ion-col>
  </ion-row>

</ion-content>

