.topo ion-toolbar{
    --background: #401230;
    color: #ffffff;
    text-align: center;
    --padding-top: 10%;
    --paddig-bottom: 2%;
}
.topo ion-title{
 font-size:1.5em;
}
.corpo{
    --background: url('../../../assets/img/layoutApp/Fundo\ Art\ 3.jpg') no-repeat center / cover ;
    text-align: center;
}
.logo{
    width: 70%;
    margin-top: 10%;
}
.corpo p{
     text-align:justify;
     padding: 0 10%;
     font-size: .8em;
     color: #401230;
     font-weight: bold; 
}
.iconSocial img{
    width: 70%;
    margin: 15% 0;
}