<ion-header class= "topo">
  <ion-toolbar >
    <ion-title>Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpo">

  <ion-searchbar placeholder="Buscar"></ion-searchbar>
    
  <ion-row class="servicoItem">
    <ion-col size ="4">
     <img src="../../../assets/img/layoutApp/servico01.png" alt="Serviço"> 
    </ion-col>
    <ion-col size ="8">
      <h4>Serviço 01</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s.</p>
      <a href="/tabs/pg/detalhe">
      <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
    </ion-col>
  </ion-row>

  <ion-row class="servicoItem">
    <ion-col size ="4">
     <img src="../../../assets/img/layoutApp/servico02.png" alt="Serviço"> 
    </ion-col>
    <ion-col size ="8">
      <h4>Serviço 02</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s.</p>
      <a href="#">
      <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
    </ion-col>
  </ion-row>

  <ion-row class="servicoItem">
    <ion-col size ="4">
     <img src="../../../assets/img/layoutApp/servico03.png" alt="Serviço"> 
    </ion-col>
    <ion-col size ="8">
      <h4>Serviço 03</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s.</p>
      <a href="#">
      <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
    </ion-col>
  </ion-row>

  <ion-row class="servicoItem">
    <ion-col size ="4">
     <img src="../../../assets/img/layoutApp/servico04.png" alt="Serviço"> 
    </ion-col>
    <ion-col size ="8">
      <h4>Serviço 04</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s.</p>
      <a href="#">
      <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
    </ion-col>
  </ion-row>

  <ion-row class="servicoItem">
    <ion-col size ="4">
     <img src="../../../assets/img/layoutApp/servico05.png" alt="Serviço"> 
    </ion-col>
    <ion-col size ="8">
      <h4>Serviço 05</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s.</p>
      <a href="#">
      <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
    </ion-col>
  </ion-row>

</ion-content>
