
.topo ion-toolbar{
    --background: #401230;
    color: #ffffff;
    text-align: center;
    --padding-top: 10%;
    --paddig-bottom: 2%;
}
.corpo{
 --background: url('../../../assets/img/layoutApp/Fundo\ Art\ 3.jpg') no-repeat center / cover ;
}
.topo ion-title{
 font-size:1.5em;
}
ion-searchbar{
    background: #a23460;
}   
.servicoItem:nth-child(even){
    background: #a2346073;
}
.servicoItem h4{
font-size: 1.3em;
color: #401230;
text-transform: uppercase;
margin: 0;
}

.servicoItem p{
    font-size: .7em;
    color: #333 ;   
     text-align:justify;
    padding-right: 4%;
    margin: 0;
}
.servicoItem a{
    float:right;
    font-size: x-large;

}