<ion-content class="corpo">

    <img class= "logo" src="../../../assets/img/logo-kibeleza.png" alt="Logo Kibeleza">
    <h1>Seja Bem Vindo</h1>

    <ion-item class="loginItem itemInput">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-input placeholder="Email: " autofocus="true" type="email" inputmode="mail" [(ngModel)]="email" ></ion-input>
    </ion-item>  

    <ion-item class="itemInput">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input placeholder="Senha: " type="password" inputmode="senha" [(ngModel)]="senha" ></ion-input>
    </ion-item>  

    <ion-button class="btn btnFundo" expand="block">Entrar</ion-button>
    <ion-button class="btn" expand="block" fill="outline" href="/tabs/pg/Cadastro">Cadastro</ion-button>

</ion-content>
