<ion-tabs>

  <ion-tab-bar slot="bottom" class="corTabs">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="fitness"></ion-icon>
      <ion-label>SOBRE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-servico">
      <ion-icon name="cut"></ion-icon>
      <ion-label>SERVICO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>PERFIL</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
