<ion-header class= "topo">
  <ion-toolbar>
    <ion-title>Serviço 01</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="topo">
  <ion-slides pager="true">
    
    <ion-slide>
      <img src="../../../assets/img/layoutApp/sobre.jpg" alt="Logo kibeleza">
    </ion-slide>

    <ion-slide>
        <img  src="../../../assets/img/slide2.jpg" alt="Logo kibeleza">
    </ion-slide>

    <ion-slide>
        <img src="../../../assets/img/slide3.jpg" alt="Logo kibeleza">
    </ion-slide>
  </ion-slides>

  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
    type specimen book.</p>
    <ion-button expand="block">Reserva</ion-button>

</ion-content>
