.topo ion-toolbar{
    --background: #401230;
    color: #ffffff;
    text-align: center;
    --padding-top: 10%;
    --paddig-bottom: 2%;
}
.topo ion-title{
font-size:1.5em;
}
.corpo{
    --background: url('../../../assets/img/layoutApp/Fundo\ Art\ 3.jpg') no-repeat center / cover ;
    text-align: center;
}
.corpo p{
    text-align:justify;
    padding: 0 5%;
    font-size: 1.2em;
    color: #401230;
    font-weight: bold; 
}
.btn{
    width: 80%;
    margin: 2% auto;

}
.btnFundo{
    margin-top: 10%; 
}
