<ion-content class="corpo">

<img class= "logo" src="../../../assets/img/logo-kibeleza.png" alt="Logo Kibeleza">

<ion-row class="btnHome">
    <ion-col size=6>
        <ion-tab-button tab="sobre">
      <img class="logo" src="../../../assets/img/btn-home1.jpg" alt="logo kibeleza">
    </ion-tab-button>
    </ion-col>
    
    <ion-col size=6>
    <ion-tab-button tab="lista-servico">
        <img class="logo" src="../../../assets/img/btn-home2.jpg" alt="logo kibeleza">
    </ion-tab-button>
    </ion-col>
</ion-row>


<ion-row class="slide">
 <ion-col size="12">  
    <ion-slides pager="true">
    
    <ion-slide>
      <img src="../../../assets/img/slide1.jpg" alt="Logo kibeleza">
    </ion-slide>

    <ion-slide>
        <img  src="../../../assets/img/slide2.jpg" alt="Logo kibeleza">
    </ion-slide>

    <ion-slide>
        <img src="../../../assets/img/slide3.jpg" alt="Logo kibeleza">
    </ion-slide>
  </ion-slides>
 </ion-col>
</ion-row>

<ion-row class="iconSocial">
    <ion-col size="3">
        <a href="#" target="_black"></a>
        <img class="logo" src="../../../assets/img/face.png" alt="Logo kibeleza">
    </ion-col>
    <ion-col size="3">
        <a href="#" target="_black"></a>
        <img class="logo" src="../../../assets/img/insta.png" alt="Logo kibeleza">
    </ion-col>
    <ion-col size="3">
        <a href="#" target="_black"></a>
        <img class="logo" src="../../../assets/img/twitter.png" alt="Logo kibeleza">
    </ion-col>
    <ion-col size="3">
        <a href="#" target="_black"></a>
        <img class="logo" src="../../../assets/img/whats.png" alt="Logo kibeleza">
    </ion-col>
</ion-row>


</ion-content>