.corpo{
    --background: url('../../../assets/img/fundo-home.jpg') no-repeat center / cover ;
    text-align: center;
}
.logo{
    width: 70%;
    margin-top: 10%;
}
.btnHome img{
    width:100%;

}
.slide img{
    width: 100%; 
    margin-top: 5%;
}
.iconSocial img{
    width: 70%;
    margin: 15% 0;
}