.corpo{
    --background: url('../../../assets/img/fundo-home.jpg') no-repeat center / cover ;
    text-align: center;
}
.logo{
    width: 70%;
    margin-top: 10%;
}
.corpo h1{
  font-size: 1.5em;
  color: #401230;
  font-weight:bold;
}
.loginItem{
    margin-top: 40%;
}
.itemInput{
    opacity:.8;
    padding: 2% 15% ;
    --background: #a23460;
    --border-color: medium #401230 ;
    --border-style: solid;
}
.btn{
    width: 70%;
    margin: 2% auto;

}
.btnFundo{
    margin-top: 10%; 
}
